<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <div class="app-details-container">
            <h1 class="user">Emir Varupa</h1>
            <p class="app-title">Bug Tracker</p>
        </div>
        <nav fxLayout="column" fxLayoutGap="6" class="meni">

            <button class="btn-sidebar-menu" fxLayout="row" fxLayoutAlign="start center" mat-button [routerLink]="['/home']" routerLinkActive="router-link-active">
                <span class="nav-text">
                    <i class="fa fa-bug nav-icon"></i>
                    All Tickets
                </span>
            </button>

            <button class="btn-sidebar-menu" fxLayout="row" fxLayoutAlign="start center" mat-button [routerLink]="['/important']" routerLinkActive="router-link-active">
                <span class="nav-text">
                    <i class="fa fa-exclamation-circle nav-icon"></i>
                    Important
                </span>
            </button>
            <button class="btn-sidebar-menu" fxLayout="row" fxLayoutAlign="start center" mat-button [routerLink]="['/assigned']" routerLinkActive="router-link-active">
                <span class="nav-text">
                    <i class="fa fa-user nav-icon"></i>
                    My Tickets
                </span>
            </button>
            <button class="btn-sidebar-menu" fxLayout="row" fxLayoutAlign="start center" mat-button [routerLink]="['/archived']" routerLinkActive="router-link-active">
                <span class="nav-text">
                    <i class="fa fa-archive nav-icon"></i>
                    Archived
                </span>
            </button>
        </nav>

    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet class="liste"></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>