/* NEW DESIGN */

.counter {
    color: #EB5757;
    background-color: #3A3B3C;
    font-size: 24px;
    border-radius: 5px;
    padding: 9px 10px;
}

.task {
    background-color: #3A3B3C;
    color: white;
    box-shadow: none;
}

.fa-plus:before {
    font-size: 21px;
}

.icon {
    margin: 0 0 16px;
}

mat-card-content {
    color: #E5E4E2;
}

mat-card {
    border-radius: 10px;
}

.assignee {
    color: #EB5757;
}

p {
    margin: 0px;
}

.priority {
    background-color: #EB5757;
    padding: 0px 10px;
    border-radius: 15px;
}

.card-title {
    cursor: pointer;
}

.btn-more {
    position: relative;
    top: -10px;
}

.menu-custom {
    background-color: #3A3B3C !important;
    color: #E5E4E2 !important;
}

.mat-menu-item,
.mat-menu-item .mat-icon {
    color: #E5E4E2;
}


/* .mat-menu-item:last-child,
.icon-color {
    color: #EB5757 !important;
} */


/* NEW DESIGN END */