/* NEW DESIGN */

.card {
    width: 535px;
    /* height: 97vh; */
    margin-top: 24px;
    border-radius: 10px;
    background-color: #242526;
    color: white;
    padding: 24px;
    box-shadow: none;
    border-radius: 10px;
}

.status {
    padding: 3px 10px;
    background-color: #EB5757;
    border-radius: 10px;
    font-style: normal;
    margin: 0px;
    font-family: Titillium Web;
}

.counter {
    color: #EB5757;
    background-color: #3A3B3C;
    font-size: 24px;
    border-radius: 5px;
    padding: 9px 10px;
}

.task {
    background-color: #3A3B3C;
    color: white;
    box-shadow: none;
}

button {
    background-color: #3A3B3C;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    box-shadow: none;
    padding: 10px;
}

.fa-plus:before {
    font-size: 21px;
}

.icon {
    margin: 0 0 16px;
}

mat-card-content {
    color: #E5E4E2;
}

mat-card {
    border-radius: 10px !important;
}

button {
    border-radius: 10px;
}

.creator {
    color: #EB5757;
}

p {
    margin: 0px;
}

.priority {
    background-color: #EB5757;
    padding: 0px 10px;
    border-radius: 15px;
}

.heading {
    margin-top: 100px;
    color: white;
    font-size: 36px;
}

.btn-more-less {
    box-shadow: none;
}

.example-list {
    /* border: solid 1px #ccc; */
    min-height: 100px;
    height: 100%;
    overflow: hidden;
    display: block;
}


/* NEW DESIGN END */