<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
    <h1 class="heading">All Tickets</h1>
    <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="60px">
        <mat-card fxLayout="column" fxLayoutAlign=" stretch" fxLayoutGap="12px" class="card">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <h1 class="status">In Progress</h1>
                <div class="counter">{{activeTasks.length}}</div>
            </div>

            <button fxLayout="row" fxLayoutAlign="center center" mat-flat-button (click)="addToDo()"><span><i class="fa fa-plus" style="color: #EB5757;"></i> Add bug</span></button>

            <div fxLayout="column" fxLayoutGap="12px" cdkDropList #activeList="cdkDropList" [cdkDropListData]="activeTasks" [cdkDropListConnectedTo]="[doneList]" class="example-list" (cdkDropListDropped)="drop($event)">

                <div class="example-list" fxLayout="column" fxLayoutAlign="center center" *ngIf="activeTasks.length == 0">Fix some bugs!</div>

                <div class="example-box" *ngFor="let item of activeTasks | slice : startPage:paginationLimitActive" cdkDrag>
                    <div>
                        <app-task [item]="item"></app-task>
                    </div>
                </div>
            </div>
            <button mat-raised-button *ngIf="paginationLimitActive > 2" (click)="showLessItems(true)" class="btn-more-less">
            Show Less
        </button>
            <button mat-raised-button *ngIf="paginationLimitActive > 0 " (click)="showMoreItems(true)" class="btn-more-less">
            Show More
        </button>

        </mat-card>

        <mat-card fxLayout="column" fxLayoutAlign=" stretch" fxLayoutGap="12px" class="card">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <h1 class="status" style="background-color: #27AE60;">Fixed</h1>
                <div class="counter" style="color: #27AE60;">{{doneTasks.length}}</div>
            </div>

            <div fxLayout="column" fxLayoutGap="12px" cdkDropList #doneList="cdkDropList" [cdkDropListData]="doneTasks" [cdkDropListConnectedTo]="[activeList]" class="example-list" (cdkDropListDropped)="drop($event)">

                <div class="example-list" fxLayout="column" fxLayoutAlign="center center" *ngIf="doneTasks.length == 0">Fix some bugs!</div>

                <div class="example-box" *ngFor="let item of doneTasks | slice : startPage:paginationLimitDone" cdkDrag>
                    <div>
                        <app-task [item]="item"></app-task>
                    </div>
                </div>
            </div>
            <button mat-raised-button *ngIf="paginationLimitDone > 2" (click)="showLessItems(false)" class="btn-more-less">
            Show Less
        </button>
            <button mat-raised-button *ngIf="paginationLimitDone > 0" (click)="showMoreItems(false)" class="btn-more-less">
            Show More
        </button>

        </mat-card>
    </div>

</div>